// CONTACTO
.contacto-main {
  padding: 2px;
  max-width: 600px;
  margin: 0 auto;
}

.formulario-contacto {
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ff69b4;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-top: 10px;
    font-weight: bold;
  }

  input,
  textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
  }

  button {
    margin-top: 20px;
    padding: 12px;
    background-color: #ff69b4;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #ff1493;
    }
  }
}
