.liIndex,
li {
  list-style: none;
  display: flex;
  gap: 25px;
  justify-content: center;

  a {
    text-decoration: none;
  }
}
.p {
  display: flex;
  justify-content: center;
  color: green;
  font-size: 50px;
}

a {
  text-decoration: none;
}

h1 {
  color: $color-h1;
  text-align: center;
  padding: 25px;
  font-family: "Roboto", sans-serif;

  &.h1Tienda {
    color: black;
  }
}
