// REPOSTERIA
.galeria-reposteria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 30px;
  background-color: #fffaf3;
}

.producto {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);

  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  h3 {
    font-size: 1.1rem;
    margin: 10px 0 5px;
    color: #333;
  }

  p {
    font-size: 1rem;
    color: #d2691e;
    font-weight: bold;
  }
}
